{
  // Configuración de Babel para transformar el código
  "presets": [
    // Preset para transformar características de ECMAScript 2015+ a JavaScript compatible con versiones anteriores
    "@babel/preset-env",

    // Preset para transformar JSX a llamadas de funciones React
    "@babel/preset-react"
  ]
}
